<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.group2.shoppinglist" >

    <uses-permission android:name="ANDROID.PERMISSION.INTERNET"/>
    <uses-permission android:name="ANDROID.PERMISSION.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomStyle.LightTheme"
        >
        <activity
            android:name="com.example.group2.shoppinglist.Main.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.group2.shoppinglist.AddToDo.AddToDoActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.example.group2.shoppinglist.Main.MainActivity"
            />
        <activity android:name="com.example.group2.shoppinglist.Main.ToDoListActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.example.group2.shoppinglist.AddShoppingList.AddShoppingListActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.example.group2.shoppinglist.Main.MainActivity"
            />

        <activity android:name="com.example.group2.shoppinglist.About.AboutActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.example.group2.shoppinglist.Main.MainActivity"
            />

    </application>


</manifest>
